<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p><%= comment.content %>
        <%= "編集" %>
        <%= "削除" %></p>
        <%# if current_user == comment.user %>
        <%#= link_to "編集", edit_post_path %>
        <%#= link_to "削除", post_path(comment.id), method: :delete, data:{confirm: "本当に削除しますか？"} %>
        <%# end %>
      </li>
    <% end %>
  <% end %>
</ul>
