<!DOCTYPE html>
<html>
  <head>
    <title>Callme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content=“width=device-width”>
  </head>
  <body>
    
    <a href="/"><h1>callme</h1></a>
      <ul>
        <a href="/about"><li>callmeとは</li></a>
      </ul>

    <%= yield %>
  </body>
</html>
